.z-container {
    /* Layout vars */
    --angle: 1;
    --radius: 100px;
    --item-number: 1;
    --radius-padding: 8px;
    --ring-0-factor: 1;
    --ring-1-factor: 2;
    --ring-2-factor: 3;
    /* Shape sizes */
    --xxs: 8px;
    --xs: 24px;
    --s: 44px;
    --m: 68px;
    --l: 110px;
    --xl: 180px;
    --xxl: 288px;
  }