@import url(custom-vars.css);
@import url(radial-grid.css);
@import url(shapes.css);

/* 
  @property --angle {
    syntax: "<number>";
    initial-value: 1;
    inherits: false;
  }
  
  @keyframes progress {
    50% {
      --angle: 130;
    }
  }

  
  .item {
    animation: 16s progress infinite;
  } */

  
  
 

 