@use './sass-variables';
// Instead of $theme-color-#{warning}
// https://huemint.com/bootstrap-plus/
//background-color: map.get($theme-colors, "warning");

.o-container {

  /* Color */
  --o-transparent: transparent;
  --o-white: white;
  --o-black: black;
  --o-light: #c7e9fe;
  --o-dark: #000300;
  --o-primary: #e23a48;
  --o-secondary: #685ca0;
  --o-info: #7085b7;
  --o-accent1: #a0dbf7;
  --o-accent2: #e7508a;
  --o-accent3: #ccc1d3;
  --o-success: #6fb72b;
  --o-warning: #fec785;
  --o-danger: #f8166b;
}
