@use '../settings/mixins' as *;
@use '../settings/sass-variables' as *;

.o-orbiter > .o-content {
    padding: 5px;
    width: inherit;
    height: inherit;
    display: grid;
    border-radius: inherit;
    @include alignment;
    overflow: hidden;
    z-index: 10;
}

//sector o-cont.o-content
.o-sector > .o-content {
    display: grid;
    place-items: center right;
    color: white;
    width:  var(--o-half);
    /* paddgin right para qeudar fuera de bordeo*/
    padding-right: calc(var(--o-width) + 10px);
    /* paddgin right para qeudar dentro del borde*/
    /*padding-right: 5px;*/
    
  }

  .o-sector > .o-content > * {
    rotate: calc(var(--o-rotate) * -1);
  }

  @each $position, $angle in $content-position {
  .o-content#{$position} > * {
    rotate: calc(#{$angle} * 1deg);
  }
}

//o-svg
.o-svg {
    border-radius: inherit;
    @include alignment;
    rotate: -90deg;
    width: calc(var(--o-diameter));
    height: calc(var(--o-diameter));
}

//label
.o-label > .o-content {
    transform-origin: 0 0;
    border: 1px solid;
    border-radius: 4px;
    min-width: 100px;
    height:auto;
    --o-label-box: 5px;
    transform: translate(calc(var(--o-connector-width) - 5px), var(--o-label-box))
      rotate(calc(var(--o-label-angle) * -1));
}
  