@use '../settings/mixins' as *;
@use '../settings/sass-variables' as *;

.orbiter > .content {
    position:absolute;
    padding: 5px;
    width: inherit;
    height: inherit;
    display: grid;
    border-radius: inherit;
    @include alignment;
    text-align: center;
    overflow: hidden;
    z-index: 10;
}


//sector  cont.content
.sector > .content {
    display: grid;
    place-items: center right;
    color: white;
    width:  var(--o-half);
    /* paddgin right para qeudar fuera de bordeo*/
    padding-right: calc(var(--o-width) + 10px);
    
  }
  .sector > .content.at-border {
    padding-right: 8px;
  }

  .sector > .content > * {
    rotate: calc(var(--o-rotate) * -1);
  }

  @each $position, $angle in $content-position {
  .content#{$position} > * {
    rotate: calc(#{$angle} * 1deg);
  }
}

// svg
.svg {
    position: absolute;
    border-radius: inherit;
    rotate: -90deg;
    width: calc(var(--o-diameter));
    height: calc(var(--o-diameter));
}

//label
.label > .content {
    transform-origin: 0 0;
    border: 1px solid;
    border-radius: 4px;
    min-width: 100px;
    height:auto;
    --o-label-box: 5px;
    rotate: (calc(var(--o-label-angle) * -1));
    transform: translate(calc(var(--o-connector-width) * cos(var(--o-label-angle)) - var(--o-len)), calc(cos(var(--o-label-angle)) * var(--o-connector-width) * var(--o-label-dir)));
}
  