
/* Media Query for Mobile Devices */ 
@media (max-width: 480px) { 
    .pod { 
        --radius: 50px; 
    } 
} 

/* Media Query for low resolution Tablets, Ipads */ 
@media (min-width: 481px) and (max-width: 767px) { 
    .pod { 
        --radius: 60px; 
    } 
} 

/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 768px) and (max-width: 1024px){ 
    .pod { 
        --radius: 70px; 
    } 
} 

/* Media Query for Laptops and Desktops */ 
@media (min-width: 1025px) and (max-width: 1280px){ 
    .pod { 
        --radius: 80px; 
    } 
} 

/* Media Query for Large screens */ 
@media (min-width: 1281px) { 
    .pod { 
        --radius: 90px; 
    } 
} 
