// Sass variables
$prefix: 'zr-';

$sizes: 'xxs' var(--xxs), 'xs' var(--xs), 's' var(--s), 'm' var(--m),
  'l' var(--l), 'xl' var(--xl), 'xxl' var(--xxl);

$align: '.upper', '.lower';

$min-orbits: 1;
$max-orbits: 6;

$min-orbiters: 1;
$max-orbiters: 24;

$offsets: 'offset-45' 45, 'offset-90' 90, 'offset-135' 135, 'offset-180' 180,
  'offset-225' 225, 'offset-270' 270, 'offset-315' 315;

$limits: 'limit-45' 45, 'limit-90' 90, 'limit-135' 135, 'limit-180' 180, 'limit-225' 225,
  'limit-270' 270, 'limit-315' 315;

$position: 'pos-0' 360, 'pos-45' 45, 'pos-90' 90, 'pos-135' 135, 'pos-180' 180,
  'pos-225' 225, 'pos-270' 270, 'pos-315' 315;
