// Sass variables
$prefix: 'o-';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);


$sizes: null, '.xxs' var(--xxs), '.xs' var(--xs), '.s' var(--s), '.m' var(--m),
  '.l' var(--l), '.xl' var(--xl), '.xxl' var(--xxl);

$align: null, '.upper', '.lower';

$min-orbits: 1;
$max-orbits: 6;

$min-orbiters: 1;
$max-orbiters: 24;

$offsets: '.offset-0' var(--a0), '.offset-45' var(--a45), '.offset-90' var(--a90), '.offset-135' var(--a135), '.offset-180' var(--a180),
  '.offset-225' var(--a225), '.offset-270' var(--a270), '.offset-315' var(--a315), '.offset-360' var(--a360);

$limits: '.limit-0' var(--a0),'.limit-45' var(--a45), '.limit-90' var(--a90), '.limit-135' var(--a135), '.limit-180' var(--a180),
'.limit-225' var(--a225), '.limit-270' var(--a270), '.limit-315' var(--a315), '.limit-360' var(--a360);

$orbit-sizes: null, '.size-1' var(--orbit-size-1),'.size-2' var(--orbit-size-2),'.size-3' var(--orbit-size-3),'.size-4' var(--orbit-size-4),'.size-5' var(--orbit-size-5),'.size-6' var(--orbit-size-6);
