@use '../settings/sass-variables' as *;

.core {
  width: 0px;
  height: 0px;
  display: grid;
  border-radius: 50%;
  grid-area: 1/1/1/1;
  z-index: $max-orbits;
}

.core > .orbiter {
  transform: rotate(var(--o-rotate));
}
