@use '../utilities/sass-variables' as *;

.core {
  width: 0px;
  height: 0px;
  display: grid;
  border-radius: 50%;
  grid-area: 1/1/1/1;
  z-index: $max-rings;
}

.core > .item {
  transform: rotate(var(--rotate));
}
