@use '../utilities/sass-variables' as *;
@use '../utilities/mixins' as *;

 /* element structure */
.label {
  display: block;
  border: 1px solid;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  --x-coords: calc(var(--size) / 1.8);
}

.label::before {
  content: '';
  display: block;
  border-bottom: 1px solid;
  width: var(--connector-width);
  height: 1px;
}

/* Set size variable for each orbiter */
@each $size, $var in $sizes {
  .orbiter#{$size} > .label {
    @if $size != null {
      --size: #{$var};
    }    
  }
}

/* Set size variable for each orbiter */
@each $pos, $angle in $position {
  .label#{$pos} {
      --label-angle: calc(#{$angle} * 1deg);
    }    
 
}

.label > .text {
  transform-origin: 0 0;
  display: grid;
  border: 1px solid;
  border-radius: 4px;
  min-width: 100px;
  padding: 5px;
  height:auto;
  --label-box: 5px;
  @include alignment;
}

/* element radial setup*/
.orbiter > .label {
  transform: rotate(var(--label-angle)) translate(var(--x-coords), 0);
}

.label > .text {
  transform: translate(calc(var(--connector-width) - 5px), var(--label-box))
    rotate(calc(var(--label-angle) * -1));
}


  .label.pos-180 > .text {
    --label-box: -5px;
  }
