/* element theme */
.pod .label {
  border-color: var(--info);
}

.pod .label::before {
  border-bottom-color: var(--info);
}

.pod .label > .text {
  background-color: var(--light);
  border-color: var(--info);
  color: var(--info);
}
