/* element theme */
.o-label {
  border-color: var(--o-info);
}

.o-label::before {
  border-bottom-color: var(--o-info);
}

.o-label > .o-text {
  background-color: var(--o-light);
  border-color: var(--o-info);
  color: var(--o-info);
}
