/* element theme */
.label {
  border-color: var(--o-quaternary-color);
}

.label::before {
  border-bottom-color: var(--o-quaternary-color);
}

.label > .text {
  background-color: var(--o-background-color);
  border-color: var(--o-quaternary-color);
  color: var(--o-quaternary-color);
}
