/* element theme */
.o-label {
  border-color: var(--o-quaternary-color);
}

.o-label::before {
  border-bottom-color: var(--o-quaternary-color);
}

.o-label > .o-text {
  background-color: var(--o-background-color);
  border-color: var(--o-quaternary-color);
  color: var(--o-quaternary-color);
}
