
/* progress */
.o-progress {
  --o-percentage: calc(var(--o-progress) * 3.6);
  display: grid;
  border-radius: 50%;
  grid-area: 1/1/1/1;
  place-items: center;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}
  // https://codepen.io/chandrashekhar/pen/RvMVey?editors=1100

.o-progress + .o-orbiter {
  --o-orbiter-number: 2; 
  --o-angle: calc(-90 + var(--o-progress) * 3.6);
} 
