
/* progress */
.pod .progress {
  --percentage: calc(var(--progress) * 3.6);
  display: grid;
  border-radius: 50%;
  grid-area: 1/1/1/1;
  place-items: center;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}
  // https://codepen.io/chandrashekhar/pen/RvMVey?editors=1100

.pod .progress + .orbiter {
  --orbiter-number: 2; 
  --angle: calc(-90 + var(--progress) * 3.6);
} 
