.o-sector {
  --o-half: calc(var(--o-diameter) / 2);
  --o-quarter: calc(var(--o-half) / 2); 
  --o-semi: calc(var(--o-angle) / 2 * 1deg); // ademas del offset el angulo debe dividirse por 2, distinto de orbiter
  --o-gap: var(--o-sector-gap);
  --o-diameter-percent: calc(
    var(--o-half) + (var(--o-gap) * (var(--o-current-orbit) / var(--o-max-orbits))) - var(--o-half) * tan(var(--o-semi)) 
  ); 
  --o-width: 49px;
  --o-rotate: calc(
    (var(--o-angle) * var(--o-orbiter-number) + var(--o-offset-angle) - (var(--o-angle) / 2)) * 1deg
  );
  /*position: absolute;*/
  display: grid;
  grid-area: 1/1/1/1;
  height: var(--o-diameter);
  width: var(--o-half);
  border: var(--o-width) solid;
  border-left: none;
  border-radius: 0% 100% 100% 0% / 100% 51% 51% 0%;
  clip-path: polygon(
    0 50% /* left center pivot*/,  
    100% calc(100% - var(--o-diameter-percent)) /* right to bottom sector increase*/,  
    100% 100% /* right top corner*/,
    100% 0  /* right bottom corner*/,
   100% var(--o-diameter-percent) /* right to top ar decrease*/
  ); 
  transform: rotate(var(--o-rotate)) translate(var(--o-quarter), 0);
}

