
.z-svg > .markers {
  --markers: 12;
  --marker-width: 1px;
  --circumference: calc(var(--r) * var(--π) * 2);
  --dash: calc(var(--circumference) / var(--markers) - var(--marker-width));
  --r: calc(var(--diam) / 2);
  cx: var(--r);
  cy: var(--r);
  r: var(--r);
  stroke-width: calc(var(--radius) * 2);
  stroke-dasharray: var(--marker-width) var(--dash);
}
