/* svg progress */
.o-svg-pod > .o-svg-progress {
  --o-r: calc(var(--o-diameter) / 2);
  cx: var(--o-r);
  cy: var(--o-r);
  r: calc(var(--o-r));
  stroke-width: var(--o-stroke);
  stroke-dasharray: calc(var(--o-r) * var(--o-π) * 2);
  stroke-dashoffset: calc((100 - var(--o-val)) / 100 * (var(--o-r) * var(--o-π) * 2));
}
