@use '../settings/mixins' as *;

/* svg */
.o-svg {
  display: grid;
  border-radius: inherit;
  grid-area: 1/1/1/1;
  @include alignment;
  rotate: -90deg;
  width: calc(var(--o-diameter));
  height: calc(var(--o-diameter));
}
