


.o-svg-pod > .o-svg-markers {
  --o-svg-markers: 12;
  --o-marker-width: 1px;
  --o-circumference: calc(var(--o-r) * var(--o-Ï€) * 2);
  --o-dash: calc(var(--o-circumference) / var(--o-svg-markers) - var(--o-marker-width));
  --o-r: calc(var(--o-diameter) / 2);
  cx: var(--o-r);
  cy: var(--o-r);
  r: var(--o-r);
  stroke-width: calc(var(--o-radius) * 2);
  stroke-dasharray: var(--o-marker-width) var(--o-dash);
}
