@use '../utilities/mixins' as *;

/* svg-pod */
.svg-pod {
  display: grid;
  border-radius: inherit;
  grid-area: 1/1/1/1;
  @include alignment;
  rotate: -90deg;
  width: calc(var(--diameter));
  height: calc(var(--diameter));
}

.svg-pod > .svg-markers {
  --svg-markers: 12;
  --marker-width: 1px;
  --circumference: calc(var(--r) * var(--π) * 2);
  --dash: calc(var(--circumference) / var(--svg-markers) - var(--marker-width));
  --r: calc(var(--diameter) / 2);
  cx: var(--r);
  cy: var(--r);
  r: var(--r);
  stroke-width: calc(var(--radius) * 2);
  stroke-dasharray: var(--marker-width) var(--dash);
}
.svg-pod > .svg-progress {
  --r: calc(var(--diameter) / 2);
  cx: var(--r);
  cy: var(--r);
  r: calc(var(--r));
  stroke-width: var(--stroke);
  stroke-dasharray: calc(var(--r) * var(--π) * 2);
  stroke-dashoffset: calc((100 - var(--val)) / 100 * (var(--r) * var(--π) * 2));
}
