// Sass variables
$prefix: ' ';

$sizes: null, '.xxs' var(--o-xxs), '.xs' var(--o-xs), '.sm' var(--o-sm), '.md' var(--o-md),
  '.lg' var(--o-lg), '.xl' var(--o-xl), '.xxl' var(--o-xxl);

$align: null, '.upper', '.lower';

$min-orbits: 1;
$max-orbits: 6;

$min-orbiters: 1;
$max-orbiters: 24;

$offsets: '.offset-45' var(--o-a45), '.offset-90' var(--o-a90), '.offset-135' var(--o-a135), '.offset-180' var(--o-a180),
  '.offset-225' var(--o-a225), '.offset-270' var(--o-a270), '.offset-315' var(--o-a315);

$content-position: '.face-up' var(--o-a270), '.face-down' var(--o-a90), '.face-left' var(--o-a0), '.face-right' var(--o-a180);

$limits: '.limit-45' var(--o-a45), '.limit-90' var(--o-a90), '.limit-135' var(--o-a135), '.limit-180' var(--o-a180),
'.limit-225' var(--o-a225), '.limit-270' var(--o-a270), '.limit-315' var(--o-a315);

$orbit-sizes: null, '.size-1' var(--o-orbit-size-1),'.size-2' var(--o-orbit-size-2),'.size-3' var(--o-orbit-size-3),'.size-4' var(--o-orbit-size-4),'.size-5' var(--o-orbit-size-5),'.size-6' var(--o-orbit-size-6);

$border-width: 0;
$border-style: solid;
$border-color: var(--o-dark, black);
$background-color: var(--o-transparent, transparent);
$fill-color: var(--o-info, #7085b7);
$stroke-color: var(--o-accent1, #a0dbf7);
