// Sass variables
$prefix: 'o-';

$sizes: null, '.o-xxs' var(--o-xxs), '.o-xs' var(--o-xs), '.o-sm' var(--o-sm), '.o-md' var(--o-md),
  '.o-lg' var(--o-lg), '.o-xl' var(--o-xl), '.o-xxl' var(--o-xxl);

$align: null, '.o-upper', '.o-lower';

$min-orbits: 1;
$max-orbits: 6;

$min-orbiters: 1;
$max-orbiters: 24;

$offsets: '.o-offset-45' var(--o-a45), '.o-offset-90' var(--o-a90), '.o-offset-135' var(--o-a135), '.o-offset-180' var(--o-a180),
  '.o-offset-225' var(--o-a225), '.o-offset-270' var(--o-a270), '.o-offset-315' var(--o-a315);

$limits: '.o-limit-45' var(--o-a45), '.o-limit-90' var(--o-a90), '.o-limit-135' var(--o-a135), '.o-limit-180' var(--o-a180),
'.o-limit-225' var(--o-a225), '.o-limit-270' var(--o-a270), '.o-limit-315' var(--o-a315);

$orbit-sizes: null, '.o-size-1' var(--o-orbit-size-1),'.o-size-2' var(--o-orbit-size-2),'.o-size-3' var(--o-orbit-size-3),'.o-size-4' var(--o-orbit-size-4),'.o-size-5' var(--o-orbit-size-5),'.o-size-6' var(--o-orbit-size-6);

$border-width: 0;
$border-style: solid;
$border-color: var(--o-dark, black);
$background-color: var(--o-transparent, transparent);
$fill-color: var(--o-info, #7085b7);
$stroke-color: var(--o-accent1, #a0dbf7);
