/* 
  O-PROGRESS
    <o-progress> is a web-component for rendering a radial progress bar. 
    It has some special attributes and css variables that user can modify:
        --o-linecap: to set ending cap of progress bar. Class .rounded can be added. Default 'butt'
        --o-progress ||  attribute 'value'. To set progress value. Default 0
        attribute 'progress-color'. To set color of porgress bar. Default 'orange'. MAKE FRIENDLY
        attribute 'max-angle'. Uset defined max angle. Default 360
*/
o-progress {
  --o-width-factor: 1;
  width: var(--o-diameter);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  pointer-events: none; /* To avoid events conflicts with other elements */
}

o-progress.rounded {
  --o-linecap: round;
}
