
@use './variables' as *;

/* Orbit radial layout */

/* Orbits layout */
.orbit-0 {
  --orbit-nth: 0;
  border: 1px solid red;
}
@for $i from 1 through $max-orbits {
    :nth-child(#{$i} of .orbit), .orbit-#{$i} {
    --orbit-nth: #{$i};
    }
}

/* Satellites, sectors and vectors layout */

@for $i from 1 through $max-orbiters {
    :nth-child(#{$i} of .satellite), :nth-child(#{$i} of o-sector), :nth-child(#{$i} of .vector) {
    --o-position: #{$i};
    }
}

@for $i from 1 through $max-orbiters {
    .orbit:has(> :nth-child(#{$i} of .satellite), > :nth-child(#{$i} of o-sector), > :nth-child(#{$i} of .vector)),
    [class*='orbit-']:has(> :nth-child(#{$i} of .satellite), > :nth-child(#{$i} of o-sector), > :nth-child(#{$i} of .vector)) {
    --o-angle: calc(var(--o-range) / #{$i});
    }
}
