
@use './variables' as *;

/* Orbit radial layout */

/* Orbits layout */
.orbit-0 {
  --orbit-nth: 0;
  border: 1px solid red;
}
@for $i from 1 through $max-orbits {
    .orbit:nth-child(#{$i}), .orbit-#{$i} {
    --orbit-nth: #{$i};
    }
}

/* Satellites, sectors and vectors layout */

@for $i from 1 through $max-orbiters {
    .satellite:nth-child(#{$i}), o-sector:nth-child(#{$i}), .vector:nth-child(#{$i}) {
    --sat-number: #{$i};
    }
}

@for $i from 1 through $max-orbiters {
    .satellite:nth-child(#{$i}), o-sector:nth-child(#{$i}), .vector:nth-child(#{$i}) {
    --sat-number: #{$i};
    }
}

@for $i from 1 through $max-orbiters {
    .orbit:has(> .satellite:nth-child(#{$i}), > o-sector:nth-child(#{$i}), > .vector:nth-child(#{$i})),
    [class*='orbit-']:has(> .satellite:nth-child(#{$i}), > o-sector:nth-child(#{$i}), > .vector:nth-child(#{$i})) {
    --angle: calc(var(--range) / #{$i});
    }
}
