@use "./mixins" as *;
@use "./variables" as *;
@use "./ui" as *;

 /* Initial Reset */
 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 /* Main elements */
 .z-container {
   /* Layout vars */
   --arc: 360;
   --offset-angle: 0;
   --direction: 1;
   --angle: 1;
   --radius: 50px;
   --item-number: 1;
   --radius-padding: 8px;

   @for $i from $min-rings through $max-rings {
     --radius-#{$i}: var(--radius) * #{$i};
   }

   /* Shape sizes */
   --xxs: 8px;
   --xs: 24px;
   --s: 44px;
   --m: 68px;
   --l: 110px;
   --xl: 180px;
   --xxl: 288px;

  /* Color */
  --transparent: transparent;
  --white: white;
  --black: black;

   /* width connector */
   --connector-width: 40px;
   --label-width: 50px;

   /* svg */
   --val: 0;
   --diam: 400;
   --stroke: 10;

 }

 @for $i from $min-items  through $max-items {
  @each $arc,
  $value in $arcs {
    .items-#{$i}.#{$arc}>.item {
      --angle: calc((var(--arc) / #{$i - 1})  * var(--direction));
    }
  }
}
 @for $i from $min-items  through $max-items {
  .items-#{$i}>.item {
     --angle: calc((var(--arc) / #{$i})  * var(--direction));
   }
 }

 @for $i from $min-items  through $max-items {
  @each $arc,
  $value in $arcs {
    .items-#{$i}.#{$arc}>.arc {
      // No hay que restar un angulo debido a la forma del arco
      --angle: calc((var(--arc) / #{$i})  * var(--direction));
    }
  }
}
 @for $i from $min-items  through $max-items {
  .items-#{$i}>.arc {
     --angle: calc((var(--arc) / #{$i})  * var(--direction));
   }
 }


 @for $i from $min-rings through $max-rings {
    $resta: 1;
    @if $i == 1 {
      $resta: 0
    }
  @each $size,
   $var in $sizes {
    .z-container>.ring-#{$i}>.item.#{$size} {
      transform: rotate(calc((var(--angle) * var(--item-number) + var(--offset-angle) - var(--angle)) * 1deg)) translate(calc(var(--radius-#{$i})), 0) rotate(calc((var(--angle) * var(--item-number) + var(--offset-angle) - var(--angle)) * -1deg));
    }
    .z-container>.ring-#{$i}>.item.stationary.#{$size} {
      transform:rotate(calc((var(--angle) * var(--item-number) + var(--offset-angle) - var(--angle)) * 1deg)) translate(calc(var(--radius-#{$i})), 0);
    }
    @each $class in $align {
      $math: "";
      $translate: "";

       @if $class ==".upper" {
         $math: "+ (calc(#{$var} / 2))";
         $translate: "translate(-55px, 55px)";
       }

       @if $class ==".lower" {
         $math: "- (calc(#{$var} / 2))";
         $translate: "translate(-8px, 8px)";
       }

      .z-container>.ring-#{$i}> .item.#{$size}#{$class} {
        transform: rotate(calc((var(--angle) * var(--item-number) + var(--offset-angle) - var(--angle)) * 1deg)) translate(calc(var(--radius-#{$i}) #{$math}), 0) rotate(calc((var(--angle) * var(--item-number) + var(--offset-angle) - var(--angle)) * -1deg));
      }

      .z-container>.ring-#{$i}> .item.stationary.#{$size}#{$class} {
        transform:rotate(calc((var(--angle) * var(--item-number) + var(--offset-angle) - var(--angle)) * 1deg)) translate(calc(var(--radius-#{$i}) #{$math}), 0);
      }
      
     
    }
   }

   .z-container>.ring-#{$i}>.arc {
    --length: calc(var(--radius-#{$i})*2);
    --half: calc(var(--length)/2);
    --quarter: calc(var(--half)/2);
    // ademas del offset el angulo debe dividirse por 2, distinto de item
    transform:rotate(calc((var(--angle) * var(--item-number) + var(--offset-angle) - (var(--angle)/2)) * 1deg)) translate(var(--quarter), 0);
    --semi: calc(var(--angle) / 2 * 1deg);
    --arc-gap: 1px;
    --length-percent: calc(var(--half) + var(--arc-gap) - var(--half) * tan(var(--semi)));
    --color: var(--accent2);
    --tickness: 49px;
    height: var(--length);
    width: var(--half);
    border: var(--tickness) solid var(--color);
    border-left: none;
    background-color: transparent;
    border-radius: 0% 100% 100% 0% / 100% 51% 51% 0%;
    box-sizing: border-box;
    clip-path: polygon(
      0 50%,
    /* left center pivot*/ 100% calc(100% - var(--length-percent)),
    /* right to bottom arc increase*/ 100% 100%,
    /* right top corner*/ 100% 0,
    /* right bottom corner*/ 100% var(--length-percent)
    ); /* right to top ar decrease*/
  }
  .z-container>.ring-#{$i}>.arc:hover {
    border-color: var(--accent3);
  }
 
 }
 .core>.item {
   transform: rotate(calc((var(--angle) * var(--item-number) + var(--offset-angle)) * 1deg));
 }
 @for $i from $min-rings through $max-rings {

   @each $size,
   $var in $sizes {
     .item.#{$size}>.ring-#{$i} {
       width: calc(#{$var} * #{$i});
       height: calc(#{$var} * #{$i});
       // test
       z-index: $max-rings - $i;
     }
     .item.#{$size}>.ring-#{$i}>.item {
      --x: calc((#{$var} / 2 * #{$i}));
      transform: rotate(calc((var(--angle) * var(--item-number) + var(--offset-angle) - var(--angle)) * 1deg)) translate(var(--x), 0) rotate(calc((var(--angle) * var(--item-number) + var(--offset-angle) - var(--angle)) * -1deg));
    }

    .item.#{$size}>.ring-#{$i}> .item.stationary  {
      --x: calc((#{$var} / 2 * #{$i}));
      transform: rotate(calc((var(--angle) * var(--item-number) + var(--offset-angle) - var(--angle)) * 1deg)) translate(var(--x), 0);
    }
     @each $class in $align {
       $math: "";

       @if $class ==".upper" {
         $math: "+ (calc(#{$var} / 4))";
       }

       @if $class ==".lower" {
         $math: "- (calc(#{$var} / 4))";
       }

       .item.#{$size}>.ring-#{$i}>.item#{$class} {
         --x: calc((#{$var} / 2 * #{$i}) #{$math});
         transform: rotate(calc((var(--angle) * var(--item-number) + var(--offset-angle) - var(--angle)) * 1deg)) translate(var(--x), 0) rotate(calc((var(--angle) * var(--item-number) + var(--offset-angle) - var(--angle)) * -1deg));
       }

       .item.#{$size}>.ring-#{$i}> .item.stationary#{$class}  {
         --x: calc((#{$var} / 2 * #{$i}) #{$math});
         transform: rotate(calc((var(--angle) * var(--item-number) + var(--offset-angle) - var(--angle)) * 1deg)) translate(var(--x), 0);
       }
     }

   }
 }

 