/* Satellite class */
.satellite {
  --o-angle-composite: var(--o-angle) * var(--o-position);
  width: 5px; /* Adjust satellite size */
  height: 5px; /* Adjust satellite size */
  background-color: yellow; /* Adjust satellite color */
  border-radius: 50%; /* Make it a circle */
  border: 1px solid black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(
    calc(
      var(--o-radius) / var(--o-ellipse-x) *
        cos(var(--o-begin-at) + var(--o-angle-composite))
    ),
    calc(
      var(--o-radius) / var(--o-ellipse-y) *
        sin(var(--o-begin-at) + var(--o-angle-composite))
    )
  );
}

.satellite > .orbital-zone {
  --o-lenght: var(--o-diameter);
  width: var(--o-lenght);
  height: auto;
  justify-content: center;
  align-items: center;
}
