/* .satellite class 
Elements with .satellite are placed along an orbit path serving as content place and or to nest an
orbital-zone. By default a satellite provides arbitrary circle shape, but its shape varies dependeng on user needs.
Some sizes and shapes utilities are provided (circle, box, roundex-box, bobles). Nevertheless, users can put any content and
shapes they want.
*/
.satellite {
  /* Variables */
  --o-angle-composite: var(--o-angle) * var(--o-position);
  transform: translate(
    calc(
      var(--o-radius) / var(--o-ellipse-x) *
        cos(var(--o-begin-at) + var(--o-angle-composite))
    ),
    calc(
      var(--o-radius) / var(--o-ellipse-y) *
        sin(var(--o-begin-at) + var(--o-angle-composite))
    )
  );
  /* Core settings */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Themes */
  width: 5px; /* Adjust satellite size */
  height: 5px; /* Adjust satellite size */
  background-color: yellow; /* Adjust satellite color */
  border-radius: 50%; /* Make it a circle */
  border: 1px solid black;
}

