@use './variables' as *;
/* 
  O-SECTOR
    <o-sector> is an web-component for rendering a radial sector slices. 
    It has some special attributes and css variables that user can modify:
      --o-width-factor. Set the lenght of o-sector relative to its orbit. Default 1. .x* utility could be use.
      --o-gap. Set a gap space between sectors. Default 0
      attribute 'progress-color'. Set the secctor background color || '#00ff00'; MAKE FRIENDLY
      attribute 'radius' || 50 CHECK
*/
o-sector {
  --o-angle-composite: var(--o-angle) * var(--o-position);
  ---o-width-factor: 1;
  container-name: sectors;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  width: 100%;
  transform: rotate(calc(var(--o-begin-at) + var(--o-angle-composite)));
}

/* 
  Conditional render sector if ratio equals 1
*/
o-sector svg path {
  /* By default is hidden */
  display: none;
}
@container sectors style(--o-ellipse-x: 1) and style(--o-ellipse-y: 1) {
  /* Shown if ratio equals 1*/
  o-sector svg path {
    display: block;
  }
}

o-sector svg {
  pointer-events: none;
  overflow: visible;
}
o-sector svg > * {
  pointer-events: stroke;
}
