@use './variables' as *;
/* Sector class */
o-sector {
  --o-angle-composite: var(--o-angle) * var(--o-position);
  ---o-width-factor: 1;
  container-name: sectors;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  width: 100%;
  transform: rotate(calc(var(--o-begin-at) + var(--o-angle-composite)));
}

o-sector svg path {
  display: none;
}
@container sectors style(--o-ellipse-x: 1) and style(--o-ellipse-y: 1) {
  /* Conditional render sector if ratio equals 1*/
  o-sector svg path {
    display: block;
  }
}


o-sector svg {
  pointer-events: none;
  overflow: visible;
}
o-sector svg > * {
  pointer-events: stroke;
}
o-sector path {
  stroke-opacity: 0.5;
  border: 1px solid purple;
}

o-sector path:hover {
  stroke: red;
  cursor: pointer;
}

