@use './variables' as *;
/* 
  Orbit utilities 
*/

/* .orbital-zone  aligment utilities */
.orbital-zone.top-left {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}
.orbital-zone.top-center {
  align-items: flex-start !important;
  justify-content: center !important;
}
.orbital-zone.top-right {
  align-items: flex-start !important;
  justify-content: flex-end !important;
}
.orbital-zone.bottom-left {
  align-items: flex-end !important;
  justify-content: flex-start !important;
}
.orbital-zone.bottom-center {
  align-items: flex-end !important;
  justify-content: center !important;
}
.orbital-zone.bottom-right {
  align-items: flex-end !important;
  justify-content: flex-end !important;
}
.orbital-zone.center-left {
  align-items: center !important;
  justify-content: flex-start !important;
}
.orbital-zone.center {
  align-items: center !important;
  justify-content: center !important;
}
.orbital-zone.center-right {
  align-items: center !important;
  justify-content: flex-end !important;
}

/* 
  Range, begin-at and angle classes utilities 
*/
$max-grade: 360;
@for $i from 0 through $max-grade {
  .range-#{$i} {
    --o-range: #{$i}deg;
  }
}
@for $i from 0 through $max-grade {
  .begin-at-#{$i} {
    --o-begin-at: #{$i}deg;
  }
}
@for $i from 0 through $max-grade {
  .angle-#{$i} {
    --o-angle-composite: #{$i}deg;
  }
}

/* 
  Sector, Progress and Vector utilities 
*/ 

/* 
  Sector gap 
*/ 
@for $i from 1 through $max-orbiters {
  o-sector.gap#{$i} {
    --o-gap: #{$i};
  }
}

/* 
  Sector, Progress and Vector width-factor USE GROW-FACTOR
Ca  n be used in parent elements or in each orbiter class
*/ 

$sub-factors: 10;
@for $i from 1 to  $sub-factors {
  $name: calc($i / $sub-factors * 100);
  $value: calc($i / $sub-factors); 
  .x0#{$name} {
    --o-width-factor: #{$value}; 
  }
}

@for $i from 1 through $max-orbiters {
  .x#{$i} {
    --o-width-factor: #{$i};
  }
}

.max {
  --o-width-factor: var(--orbit-nth);
}
