@use './variables' as *;
/* Utilities */

/* Sector utilities */ 
@for $i from 1 through $max-orbiters {
  o-sector.gap#{$i} {
    --o-gap: #{$i};
  }
}

/* Sector, Progress and Vector utilities */ 

/* Sector gap*/ 
@for $i from 1 through $max-orbiters {
  o-sector.gap#{$i} {
    --o-gap: #{$i};
  }
}

/* Sector, Progress and Vector width-factor 
* Can be used in parent elements or in each orbiter class
*/ 

$sub-factors: 4;
@for $i from 1 to  $sub-factors {
  $name: $i / $sub-factors * 100;
  $value: $i / $sub-factors; 
  .x0#{$name} {
    --o-width-factor: #{$value}; 
  }
}

@for $i from 1 through $max-orbiters {
  .x#{$i} {
    --o-width-factor: #{$i};
  }
}

.max {
  --o-width-factor: var(--orbit-nth);
}
