/* .vector class 
This class renders a perpendicular line along an orbit. It could have diferent sizes relative to its orbit.
The size could be change by adding .x-* vector class utility

Usage: 
<div class="orbit">
  <div class="vector"><div>
  <div class="vector x5"><div> <!-- 50% of orbit radius -->
  <div class="vector x01"><div> <!-- 1% of orbit radius -->
  <div class="vector"><div>
  ...
</div>

*/
.vector {
  --o-angle-composite: var(--o-angle) * var(--o-position);
  width: calc(var(--o-radius) / var(--orbit-nth) * var(--o-width-factor, 1));
  position: absolute;
  padding: 0;
  transform: translate(
      calc(
        (
            var(--o-radius) -
              calc(
                var(--o-radius) / var(--orbit-nth) * var(--o-width-factor, 1)
              ) / 2
          ) / var(--o-ellipse-x) *
          cos(var(--o-begin-at) + var(--o-angle-composite))
      ),
      calc(
        (
            var(--o-radius) -
              calc(
                var(--o-radius) / var(--orbit-nth) * var(--o-width-factor, 1)
              ) / 2
          ) / var(--o-ellipse-y) *
          sin(var(--o-begin-at) + var(--o-angle-composite))
      )
    )
    rotate(
      calc(var(--o-angle-composite))
    );
  height: 1px; /*use vars latter */
  pointer-events: none;
  border: none;
  background: rgb(0, 0, 0);
}
