/* Vector class */
.vector {
  --o-angle-composite: var(--o-angle) * var(--o-position);
  height: 1px; /*use vars latter */
  border: none;
  width: calc(var(--o-radius) / var(--orbit-nth) * var(--o-width-factor, 1));
  padding: 0;
  background: rgb(0, 0, 0);
  position: absolute;
  pointer-events: none;
  transform: translate(
      calc(
        (
            var(--o-radius) -
              calc(
                var(--o-radius) / var(--orbit-nth) * var(--o-width-factor, 1)
              ) / 2
          ) / var(--o-ellipse-x) *
          cos(var(--o-begin-at) + var(--o-angle-composite))
      ),
      calc(
        (
            var(--o-radius) -
              calc(
                var(--o-radius) / var(--orbit-nth) * var(--o-width-factor, 1)
              ) / 2
          ) / var(--o-ellipse-y) *
          sin(var(--o-begin-at) + var(--o-angle-composite))
      )
    )
    rotate(calc(var(--o-angle-composite)));
}
