 /* Variables */
 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
$sizes: "xxs" var(--xxs),
  "xs" var(--xs),
  "s" var(--s),
  "m" var(--m),
  "l" var(--l),
  "xl" var(--xl),
  "xxl" var(--xxl);
  
$min: 0;
$max: 6;

 /* Main elements */
.z-container {
  /* Layout vars */
  --angle: 1;
  --radius: 100px;
  --item-number: 1;
  --radius-padding: 8px;
  
@for $i from $min through $max {
    --ring-#{$i}-factor: #{$i};
}

  /* Shape sizes */
  --xxs: 8px;
  --xs: 24px;
  --s: 44px;
  --m: 68px;
  --l: 110px;
  --xl: 180px;
  --xxl: 288px;
}

.z-container {
  display: grid;
  grid-template-columns: minmax(var(--radius), 1fr);
  grid-template-rows: minmax(var(--radius), 1fr);
  align-items: center;
  justify-items: center;
  border: 1px dashed black;
  align-content: center;
  justify-content: center;
}

.z-container > .ring-0 {
  width: 1px;
  height: 1px;
}

.ring-0 > .item {
  transform: rotate(calc(var(--angle) * 1deg));
}

.item {
  display: grid;
  background-color: rgba(255, 255, 255, 0.151);
  border: 1px solid black;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  grid-area: 1/1/1/1;
}

/* Shapes */
.item,
.item.circle {
  border-radius: 50%;
}

.item.box {
  border-radius: 0%;
}

.item.rounded {
  border-radius: 25%;
}

.item.transparent {
  border: none;
}

.item.a0 {
  --angle: 0;
}

.item.a45 {
  --angle: 45;
}

.item.a90 {
  --angle: 90;
}

.item.a135 {
  --angle: 135;
}

div[class^="ring"] {
  display: grid;
  border-radius: 50%;
  border: 1px dashed rgba(155, 155, 155, 0.5);
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  grid-area: 1/1/1/1;
}

.label {
  display: block;
  border: 1px solid red;
  width: 1px;
  height: 1px;
}

  @each $size,
  $var in $sizes {
    .item.#{$size} > .label {
    transform: translate(calc(#{$var} / 2), 0);
    }
  }

.label__conector {
  transform-origin: 0 0;
  border: transparent;
  border-top: 1px solid red;
  width: 50px;
}
.label__text {
  display: grid;
  border: 1px solid black;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  grid-area: 1/1/1/1;
  border-color: red;
  width: 50px;
  height: 20px;
  color: red;
}


.label__text {
  transform: rotate(calc(-45 * 1deg)) translate(calc(50px), 0) rotate(calc(-45 * -1deg));
}
.label__conector {
  transform: rotate(calc(-45 * 1deg));
}
 
@each $size,
$var in $sizes {
  .item.#{$size} {
    width: $var;
    height: $var;
  }
}

@for $i from $min + 1 through $max {
  .z-container>.ring-#{$i} {
    width: calc(var(--radius) * 2 * var(--ring-#{$i}-factor));
    height: calc(var(--radius) * 2 * var(--ring-#{$i}-factor));
  }
}
@for $i from $min through $max {
  .item:nth-child(#{$i}) {
    --item-number:#{$i};
  }
}

@for $i from $min through $max {
  .items-#{$i}>.item {
    --angle: calc(360 / #{$i});
  }
}
@for $i from $min + 1 through $max {
  .z-container>.ring-#{$i}>.item {
    transform: rotate(calc(var(--angle) * var(--item-number) * 1deg)) translate(calc(var(--radius) * #{$i}), 0) rotate(calc(var(--angle) * var(--item-number) * 1deg * -1));
  }

  .z-container>.ring-#{$i}>.item.stationary {
    transform: rotate(calc(var(--angle) * var(--item-number) * 1deg)) translate(calc(var(--radius) * #{$i}), 0);
  }
}
@for $i from $min through $max {
  @each $size,
  $var in $sizes {
    .item.#{$size}>.ring-#{$i} {
      width: calc(#{$var} * var(--ring-#{$i}-factor));
      height: calc(#{$var} * var(--ring-#{$i}-factor));
    }

    .item.#{$size}>.ring-#{$i}>.item {
      --x: calc(#{$var} / 2 * var(--ring-#{$i}-factor));
      transform: rotate(calc(var(--angle) * var(--item-number) * 1deg)) translate(var(--x), 0) rotate(calc(var(--angle) * var(--item-number) * 1deg * -1));
    }

    .item.#{$size}>.ring-#{$i}>.item.stationary {
      --x: calc(#{$var}/ 2 * var(--ring-#{$i}-factor));
      transform: rotate(calc(var(--angle) * var(--item-number) * 1deg)) translate(var(--x), 0);
    }
  }
}