@use './variables' as *;

o-arc {
  --o-angle-composite: var(--o-arc-start, var(--o-angle) * var(--o-orbit-child-number) * var(--o-direction, 1));
  --o-gap: 1;
  --o_stack: 0;
  container-name: oslice;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  width: 100%;
  r: var(--o-radius);
  transform: rotate(calc(var(--o-from) + var(--o-angle-composite)));
}
