@use './variables' as *;
/*!
## .capsule

Capsule is a class to put text or another content. Currently, it can be used into `satellites` and `segments`.
There are some utilties to modify `.capsule` orientation content.

### Usage

```html
<div class="satellite">
  <div class="capsule stable">
    Some text here.
  </div>
</div> 
```

#### Utilities

- `stable`: to mantain content always horizontal. 
- `turn-left`: to turn content 90deg left
- `turn-right`: to turn content 90deg right
- `flip`: to turn content upside-down.

### TO-DO

- Add some visual aids to prevent add capsule in elements are no satellite or segment.


*/

.capsule  {
  --o-angle-composite: 0deg;
  display: flex;
  width: inherit;
  height: auto;
  position: absolute;
  align-items: center;
  justify-content: center;
  rotate: calc(var(--o-angle-composite));
}