:root {
  --o-red: hsl(3, 100%, 61%);
  --o-orange: hsl(36, 100%, 51%);
  --o-yellow: hsl(49, 100%, 51%);
  --o-green: hsl(129, 67%, 51%);
  --o-cyan: hsl(197, 88%, 65%);
  --o-blue: hsl(210, 100%, 51%);
  --o-indigo: hsl(240, 73%, 63%);
  --o-purple: hsl(279, 85%, 65%);
  --o-pink: hsl(348, 100%, 60%);
  --o-gray: hsl(240, 2%, 60%);

  --o-hue: 70; /* 0 - 360 */
  --o-saturation: 70%; /* 0 - 100% */
  --o-light: 70%; /* 0 - 100% */
  --o-color: hsl(var(--o-hue), var(--o-saturation), var(--o-light));

  --o-color-white: color-mix(in oklab, var(--o-color), white 95%);
  --o-color-lighter: color-mix(in oklab, var(--o-color), white 75%);
  --o-color-light: color-mix(in oklab, var(--o-color), white 30%);
  --o-color-dark: color-mix(in oklab, var(--o-color), black 20%);
  --o-color-darker: color-mix(in oklab, var(--o-color), black 40%);
  --o-color-black: color-mix(in oklab, var(--o-color), black 78%);

  --o-red-white: color-mix(in oklab, var(--o-red), white 95%);
  --o-red-lighter: color-mix(in oklab, var(--o-red), white 75%);
  --o-red-light: color-mix(in oklab, var(--o-red), white 30%);
  --o-red-dark: color-mix(in oklab, var(--o-red), black 20%);
  --o-red-darker: color-mix(in oklab, var(--o-red), black 40%);
  --o-red-black: color-mix(in oklab, var(--o-red), black 78%);

  --o-orange-white: color-mix(in oklab, var(--o-orange), white 95%);
  --o-orange-lighter: color-mix(in oklab, var(--o-orange), white 75%);
  --o-orange-light: color-mix(in oklab, var(--o-orange), white 30%);
  --o-orange-dark: color-mix(in oklab, var(--o-orange), black 20%);
  --o-orange-darker: color-mix(in oklab, var(--o-orange), black 40%);
  --o-orange-black: color-mix(in oklab, var(--o-orange), black 78%);

  --o-yellow-white: color-mix(in oklab, var(--o-yellow), white 95%);
  --o-yellow-lighter: color-mix(in oklab, var(--o-yellow), white 75%);
  --o-yellow-light: color-mix(in oklab, var(--o-yellow), white 30%);
  --o-yellow-dark: color-mix(in oklab, var(--o-yellow), black 20%);
  --o-yellow-darker: color-mix(in oklab, var(--o-yellow), black 40%);
  --o-yellow-black: color-mix(in oklab, var(--o-yellow), black 78%);

  --o-green-white: color-mix(in oklab, var(--o-green), white 95%);
  --o-green-lighter: color-mix(in oklab, var(--o-green), white 75%);
  --o-green-light: color-mix(in oklab, var(--o-green), white 30%);
  --o-green-dark: color-mix(in oklab, var(--o-green), black 20%);
  --o-green-darker: color-mix(in oklab, var(--o-green), black 40%);
  --o-green-black: color-mix(in oklab, var(--o-green), black 78%);

  --o-cyan-white: color-mix(in oklab, var(--o-cyan), white 95%);
  --o-cyan-lighter: color-mix(in oklab, var(--o-cyan), white 75%);
  --o-cyan-light: color-mix(in oklab, var(--o-cyan), white 30%);
  --o-cyan-dark: color-mix(in oklab, var(--o-cyan), black 20%);
  --o-cyan-darker: color-mix(in oklab, var(--o-cyan), black 40%);
  --o-cyan-black: color-mix(in oklab, var(--o-cyan), black 78%);

  --o-blue-white: color-mix(in oklab, var(--o-blue), white 95%);
  --o-blue-lighter: color-mix(in oklab, var(--o-blue), white 75%);
  --o-blue-light: color-mix(in oklab, var(--o-blue), white 30%);
  --o-blue-dark: color-mix(in oklab, var(--o-blue), black 20%);
  --o-blue-darker: color-mix(in oklab, var(--o-blue), black 40%);
  --o-blue-black: color-mix(in oklab, var(--o-color), black 78%);

  --o-indigo-white: color-mix(in oklab, var(--o-indigo), white 95%);
  --o-indigo-lighter: color-mix(in oklab, var(--o-indigo), white 75%);
  --o-indigo-light: color-mix(in oklab, var(--o-indigo), white 30%);
  --o-indigo-dark: color-mix(in oklab, var(--o-indigo), black 20%);
  --o-indigo-darker: color-mix(in oklab, var(--o-indigo), black 40%);
  --o-indigo-black: color-mix(in oklab, var(--o-indigo), black 78%);

  --o-purple-white: color-mix(in oklab, var(--o-purple), white 95%);
  --o-purple-lighter: color-mix(in oklab, var(--o-purple), white 75%);
  --o-purple-light: color-mix(in oklab, var(--o-purple), white 30%);
  --o-purple-dark: color-mix(in oklab, var(--o-purple), black 20%);
  --o-purple-darker: color-mix(in oklab, var(--o-purple), black 40%);
  --o-purple-black: color-mix(in oklab, var(--o-purple), black 78%);

  --o-pink-white: color-mix(in oklab, var(--o-pink), white 95%);
  --o-pink-lighter: color-mix(in oklab, var(--o-pink), white 75%);
  --o-pink-light: color-mix(in oklab, var(--o-pink), white 30%);
  --o-pink-dark: color-mix(in oklab, var(--o-pink), black 20%);
  --o-pink-darker: color-mix(in oklab, var(--o-pink), black 40%);
  --o-pink-black: color-mix(in oklab, var(--o-pink), black 78%);

  --o-gray-white: color-mix(in oklab, var(--o-gray), white 95%);
  --o-gray-lighter: color-mix(in oklab, var(--o-gray), white 75%);
  --o-gray-light: color-mix(in oklab, var(--o-gray), white 30%);
  --o-gray-dark: color-mix(in oklab, var(--o-gray), black 20%);
  --o-gray-darker: color-mix(in oklab, var(--o-gray), black 40%);
  --o-gray-black: color-mix(in oklab, var(--o-gray), black 78%);

   /* Primary Colors */
   --primary-color: #fffffe; /* Main primary color, here for overall bg */
  
   /* Secondary Colors */
   --secondary-color: #90b4ce; /* Secondary button, link color */
   --tertiary-color: #d8eefe; /* Main primary color, here for overall bg */
   
   /* Accent Colors */
   --accent-color: #ef4565; /* Alerts, notifications, call-to-action */

   /* Highlight Colors */
   --highlight-color: #3da9fc; /* Highlighted elements, important details */

   /* Stroke Colors */
   --border-color: #094067; /* Borders, outlines, separators, titles */

   /* Neutral Colors */
   --dark-color: #5f6c7b; /* Used for dark text, icons */

   --light-color: var(--primary-color); /* Used for light backgrounds, contrasts */

   /* light theme regular use for pages */
   
   --background: var(--primary-color);

   --headline: var(--border-color);

   --dark-text: var(--dark-color);

   --light-text: var(--light-color);

   --button: var(--highlight-color);

   /* dark section theme regular use for pages */
   
   --background: var(--tertiary-color);

   --card-background: var(--primary-color);

   --headline: var(--border-color);

   --dark-text: var(--dark-color);

   --light-text: var(--light-color);

   --button: var(--highlight-color);

   /* light section theme regular use for pages */
   
   --background: var(--primary-color);

   --card-background: var(--border-color);

   --headline: var(--border-color);

   --dark-text: var(--dark-color);

   --light-text: var(--light-color);

   --button: var(--highlight-color);

  /* 
sections

This sections hues
Click to copy the hex code to your clipboard
Elements
Background
#d8eefe
Headline
#094067
Sub headline
#5f6c7b
Card background
#fffffe
Card heading
#094067
Card paragraph
#5f6c7b
Icons
Stroke
#094067
Main
#fffffe
Highlight
#3da9fc
Secondary
#90b4ce
Tertiary
#ef4565


cards

This sections hues
Click to copy the hex code to your clipboard
Background
#fffffe
Headline
#094067
Paragraph
#5f6c7b
Card background
#094067
Card headline
#fffffe
Card paragraph
#5f6c7b
Card tag background
#3da9fc
Card tag text
#fffffe
Card highlight
#ef4565

This sections hues
Click to copy the hex code to your clipboard
Elements
Background
#d8eefe
Headline
#094067
Paragraph
#5f6c7b
Link
#ef4565
Card backgroud
#fffffe
Card headline
#094067
Card paragraph
#5f6c7b
Newsletter
Background
#ef4565
Form input
#fffffe
Label & placeholder
#094067
Form button
#ef4565
Form button text
#fffffe

footer

This sections hues
Click to copy the hex code to your clipboard
Elements
Background
#fffffe
Headline
#094067
Paragraph
#5f6c7b
Links
#3da9fc
   */

   





   /* Background Colors */
   --background-color: #f8f9fa; /* Overall background */
   --section-background-color: #ffffff; /* Background for sections */
   
   /* Text Colors */
   --text-color: #212529; /* Primary text color */
   --secondary-text-color: #6c757d; /* Secondary text color */
}
