/*! 
## .orbit-zone

orbit zone is a functional class that groups `.orbit` classes. It serves as a container with a length defined once by `--o-length` when the Orbit app is initialized. When the orbit zone is nested within a `.satellite`, its length will depend on the `.satellite`'s `.orbit` diameter.

**Important:** The `orbit-zone` class can only be nested into a `.satellite`.

### Usage

```html
<div class="orbit-zone">
  <div class="orbit"></div>
  <div class="orbit">
    <div class="satellite">
      <div class="orbit-zone"> <!-- Nested -->
        <div class="orbit"></div>
      </div>
    </div>
  </div>
</div>
```


*/
.orbit-zone {
  container-name: orbitzone;
  --o-lenght: 500px;
  width: var(--o-lenght);
  aspect-ratio: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* To avoid event conflict with other elements */
  border: none; /* Reset theme to default */
}

.satellite > .orbit-zone {
   /* Disabled nested adjusment size. When nested orbit-zone takes its lenght from the diameter of satellite's orbit 
  --o-lenght: var(--o-diameter);
  width: var(--o-lenght);
  height: auto;*/
}
