
.orbit-zone {
  container-name: orbitzone;
  /* Reset to defaults everytime orbit-zone is used */
  --o-length: 500px;
  --o-from: 0deg;
  --o-range: 360deg;
  --o-ellipse-x: 1;
  --o-ellipse-y: 1;
  --o-fit-range: 0;
  --o-direction: 1;
  --o-size-ratio: 1;
  width: var(--o-length);
  aspect-ratio: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none; 
}

.satellite > .orbit-zone {
   /* Disabled nested adjusment size. When nested orbit-zone takes its length from the diameter of satellite's orbit 
  --o-length: var(--o-diameter);
  width: var(--o-length);
  height: auto;*/
}
