/*! 
## .orbital-zone

Orbital zone is a functional class that groups `.orbit` classes. It serves as a container with a length defined once by `--o-length` when the Orbit app is initialized. When the Orbital zone is nested within a `.satellite`, its length will depend on the `.satellite`'s `.orbit` diameter.

**Important:** The `orbital-zone` class can only be nested into a `.satellite`.

### Usage

```html
<div class="orbital-zone">
  <div class="orbit"></div>
  <div class="orbit">
    <div class="satellite">
      <div class="orbital-zone"> <!-- Nested -->
        <div class="orbit"></div>
      </div>
    </div>
  </div>
</div>
```

*/
.orbital-zone {
  --o-lenght: 500px;
  width: var(--o-lenght);
  aspect-ratio: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* To avoid event conflict with other elements */
  border: none; /* Reset theme to default */
}

.satellite > .orbital-zone {
   /* When nested orbital-zone takes its lenght from the diameter of satellite's orbit */
  --o-lenght: var(--o-diameter);
  width: var(--o-lenght);
  height: auto;
}
