
o-progress {
  container-name: oprogress;
  r: var(--o-radius);
  stroke-width:  calc(var(--o-radius) / var(--o-orbit-number) * var(--o-size-ratio, 1));
  transform: rotate(var(--o-from));
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 50%;
  pointer-events: none; /* To avoid events conflicts with other elements */
}

