
@use './variables' as *;

.orbit-0 {
  --o-orbit-number: 0.01;
}
@for $i from 1 through $max-orbits {
    :nth-child(#{$i} of .orbit), .orbit-#{$i} {
    --o-orbit-number: #{$i};
    }
}

/* Satellites, sectors, label, segment, and spokes layout */
@for $i from 1 through $max-orbiters {
 :nth-child(#{$i} of .segment){
    --o-orbit-child-number: #{$i - 2}; // Uses - 1 to start from 0 deg.
    }
}

@for $i from 1 through $max-orbiters {
  :nth-child(#{$i} of .satellite),:nth-child(#{$i} of o-sector), :nth-child(#{$i} of .spoke) ,:nth-child(#{$i} of o-label) {
    --o-orbit-child-number: #{$i - 1}; // Uses - 1 to start from 0 deg.
    }
}

@for $i from 1 through $max-orbiters {
    .orbit:has(> :nth-child(#{$i} of .satellite), > :nth-child(#{$i} of o-sector), > :nth-child(#{$i} of .spoke), > :nth-child(#{$i} of .segment), > :nth-child(#{$i} of o-label)), 
    [class*='orbit-']:not(.orbit-zone):has(> :nth-child(#{$i} of .satellite), > :nth-child(#{$i} of o-sector), > :nth-child(#{$i} of .spoke), > :nth-child(#{$i} of .segment), > :nth-child(#{$i} of o-label)) {
    --o-angle: calc(var(--o-range) / (#{$i} - var(--o-fit-range, 0)));
    }
}

@for $i from 1 through $max-orbiters {
  .orbit:has(> :nth-child(#{$i} of .segment)), 
  [class*='orbit-']:not(.orbit-zone):has(> :nth-child(#{$i} of .segment)) {
  --o-angle: calc(var(--o-range) / #{$i });
  }
}

