
.satellite {
  container-name: satellite;
  --o-angle-composite: (var(--o-angle) * var(--o-orbit-child-number) var(--o-offset, + 270deg)) * var(--o-direction, 1);
  --o-transform: translate(
    calc(
      (var(--o-radius) - var(--o-aligment, 0px))  / var(--o-ellipse-x) *
        cos(var(--o-from) + var(--o-angle-composite ))
    ),
    calc(
      (var(--o-radius) - var(--o-aligment, 0px))  / var(--o-ellipse-y) *
        sin(var(--o-from) + var(--o-angle-composite))
    )
  );
  transform: var(--o-transform);
  width: calc(var(--o-radius) / var(--o-orbit-number) * var(--o-size-ratio, 1));
  height: calc(var(--o-radius) / var(--o-orbit-number) * var(--o-size-ratio, 1));
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Circle by default */
  pointer-events: all;
}

.satellite.at-center {
  --o-transform: rotate(0deg);
}
.satellite.circle {
  border-radius: 50%;
}

.satellite.box {
  border-radius: 0%;
}

.satellite.rounded-box {
  border-radius: 8px;
}

