@use './variables' as *;
/*!
## <o-sector>

See o-sector docs in web-component file.

*/
o-sector {
  --o-angle-composite: var(--o-angle) * var(--o-position);
  container-name: osector;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  width: 100%;
  r: var(--o-radius);
  stroke-width:  calc(var(--o-radius) / var(--orbit-nth) * var(--o-size-ratio, 1));
  transform: rotate(calc(var(--o-from) + var(--o-angle-composite)));
}

o-sector svg {
  pointer-events: none;
  overflow: visible;
}
o-sector svg > * {
  pointer-events: stroke;
}
