

.segment {
  container-name: segment;
  --o-angle-composite: (var(--o-angle) * var(--o-orbit-child-number) var(--o-offset, + 270deg)) * var(--o-direction, 1);
  --o-y: calc(var(--o-radius) * sin(90deg - var(--o-angle) / 2));
  --o-x: calc(var(--o-radius) * cos(90deg - var(--o-angle) / 2) * 2);
  --o-transform: rotate( calc(var(--o-from) + var(--o-angle-composite)))
  translate(0, var(--o-y));
  width: var(--o-x);
  position: absolute;
  padding: 0;
  transform: var(--o-transform);
  height: 1px; /*use vars latter */
  pointer-events: none;
  border: none;
  background: rgb(0, 0, 0);
}

.segment.outer-orbit{
  --o-y: calc(var(--o-radius));
  width: calc(var(--o-radius) * tan(var(--o-angle) / 2) * 2);
  /* cateto adyacente = cateto opuesto * tan(angulo) */
}

