@use './variables'  as *;

/* Orbit basic reset */

.orbit-zone * {
  ::before, ::after {
    box-sizing: border-box;
  }

  box-sizing: border-box;
  
  margin: 0;
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  img, picture, video, canvas, svg {
    max-width: unset;
  }
  
}
