@use './variables' as *;

o-slice {
  --o-angle-composite: var(--o-angle) * var(--o-orbit-child-number) * var(--o-direction, 1);
  container-name: oslice;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  width: 100%;
  r: var(--o-radius);
  stroke-width:  calc(var(--o-radius) / var(--o-orbit-number) * var(--o-size-ratio, 1));
  transform: rotate(calc(var(--o-from) + var(--o-angle-composite)));
}
