

.spoke {
  container-name: spoke;
  --o-angle-composite: (var(--o-angle) * var(--o-orbit-child-number) var(--o-offset, + 270deg)) * var(--o-direction, 1);
  --o-transform: translate(
    calc(
      (var(--o-radius) - var(--o-aligment, 1px)) / var(--o-ellipse-x) *
        cos(var(--o-from) + var(--o-angle-composite))
    ),
    calc(
      (var(--o-radius) - var(--o-aligment, 1px)) / var(--o-ellipse-y) *
        sin(var(--o-from) + var(--o-angle-composite))
    )
  )
  rotate(
    calc(var(--o-from) + var(--o-angle-composite))
  );
  width: calc(var(--o-radius) / var(--o-orbit-number) * var(--o-size-ratio, 1));
  position: absolute;
  display: flex;
  align-items: center;
  transform: var(--o-transform);
  height: 1px; /*use vars latter */
  pointer-events: none;
  border: none;
}

.spoke.at-center {
  --o-transform: rotate(
    calc(var(--o-from) + var(--o-angle-composite))
  )
}
