@use './variables'  as *;

/*!

## Orbit support and check

Orbit has a few but useful CSS checks and supports:

### o-sector and o-progress only on circular orbits

Currently Orbit doesn't support ellipse shapes, so when detected these web-components will be hidden.

### Visual warning on invalid nested elements

- Orbit checks and warns if `.orbital-zone` has some invalid Orbit direct child element. Only `.orbit` or `.orbit-*` are allowed

- Orbit checks and warns if `.satellite` has some invalid Orbit direct child element. Only `.orbital-zone` is allowed. 

*/

@container osector not style(--o-ellipse-x: 1) {
  /* Shown if ratio equals 1*/
  o-sector svg path, o-progress svg path {
    display: none;
  }
}
@container osector not style(--o-ellipse-y: 1) {
  /* Shown if ratio equals 1*/
  o-sector svg path, o-progress svg path {
    display: none;
  }
}

.orbital-zone:has(>.satellite, >.vector, >o-progress, >o-sector) {
  border: 0.5px solid red!important;
}

.orbital-zone::after{
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: x-small;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: fit-content;
  padding: 5px;
  color: red;
  height: auto;
}

.satellite::after{
  position: absolute;
  top: 25px;
  left: 0px;
  font-size: x-small;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100px;
  padding: 5px;
  color: red;
  height: auto;
}


.orbital-zone>.satellite, .orbital-zone>.vector, .orbital-zone>o-sector,.orbital-zone>o-progress, .satellite>.satellite,.satellite>.orbit,.satellite>[class*='orbit-'], .satellite>.vector, .satellite>o-sector,.satellite>o-progress {
  border: 1px solid red!important;
  background-color: red;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  animation:  pulse 1.5s infinite;
}

.orbital-zone>o-sector path, .orbital-zone>o-progress path, .satellite>o-sector path, .satellite>o-progress path {
  stroke:none
}

.orbital-zone:has(>.satellite,>.vector,>o-sector,>o-progress)::after {
  content: "⚠️ Invalid nested elements on .orbital-zone!";
}
.satellite:has(>.satellite,>.vector,>o-sector,>o-progress,>.orbit, >[class*='orbit-'])::after {
  content: "⚠️ Invalid nested elements on .satellite!";
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(3);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
