/* default theme */

.gravity-spot {
  background: none;
  border: none; 
}

.orbit, [class*='orbit-'] {
  border: 1px solid transparent;
}

.satellite {
  background-color: transparent;
  border: 1px solid currentcolor;
}

.vector {
  border: none;
  background: currentcolor;
}

.side {
  border: none;
  background: currentcolor;
}

o-progress {
  --o-progress-color: currentcolor;
  --o-hover-progress-color: currentcolor;
  --o-bg-color: transparent;
}

o-arc {
  --o-arc-color: currentcolor;
  --o-hover-sector-color: currentcolor;
}

o-text {
  --o-text-color: transparent;
  --o-hover-label-color: transparent;
  color: currentColor;
}

/* Dev theme based on default*/
.dev-orbit.gravity-spot {
    background: none;
    border: 0.2px dashed var(--o-red-light); 
  }
  
.dev-orbit {
  .gravity-spot {
    background: none;
    border: 0.2px dashed var(--o-red-light); 
  }
  
  .orbit, [class*='orbit-'] {
    border: 0.2px solid var(--o-red-light);
  }
  
  .satellite {
    background-color: transparent;
    border: 1px solid currentColor;
  }
  
  .vector {
    border: none;
    background: currentColor;
  }
  
  .side {
    border: none;
    background: currentColor;
  }
  
  o-progress {
    --o-progress-color: currentColor;
    --o-hover-progress-color: currentColor;
    --o-bg-color: transparent;
  }
  
  o-arc {
    --o-arc-color: currentColor;
    --o-hover-sector-color: currentColor;
  }
  
  o-text {
    --o-text-color: transparent;
    --o-hover-label-color: transparent;
    color: currentcolor;
  }
}

/* cyan theme based on default*/

.theme-cyan {
.gravity-spot {
  background: none;
  border: none; 
}

.orbit, [class*='orbit-'] {
  border: 1px solid transparent;
}

.satellite {
  background-color: transparent;
  border: 1px solid var(--o-cyan);
}

.vector {
  border: none;
  background: var(--o-cyan);
}

.side {
  border: none;
  background: var(--o-cyan);
}

o-progress {
  --o-progress-color: var(--o-cyan);
  --o-hover-progress-color: var(--o-cyan);
  --o-bg-color: transparent;
}

o-arc {
  --o-arc-color: var(--o-cyan);
  --o-hover-sector-color: var(--o-cyan);
}

o-text {
  --o-text-color: transparent;
  --o-hover-label-color: transparent;
  color: var(--o-cyan);
}
}





