@use './variables' as *;
/*!
## Orbit utilities 

There is a small set of CSS utilities to use with some orbit classes and componentes:

  - **.orbit-zone aligment utilities**
    - `.center`, `center-left`, `.center-right`, `.top-left`, `.top-center`, `.top-right`, `.bottom-left`, `.bottom-center`,  `.bottom-right`
  - **.orbit or .orbit-* child elements utilities (satellite, vector, o-sector, o-progress)**
    - `.from-*`: To set a starting angle point. From 0 - 360deg. Default 0deg.
    - `.range-*`: To set a limit to distribute elements. From 0 - 360deg. Default 360deg.
    - `.angle-*`: To set an angle point to place elements. From 0 - 360deg. (not applies to o-progress)
  - **Satellite, vector, o-sector, o-progress utilites**
    - `.grow-*x`: To increase size according number of orbits. Default 1.
    - `.reduce-*`: To decrease size according an orbit fracction percentage. Default 1.
    - `.inner-orbit`: To place element just below its orbit.
    - `.outer-orbit`: To place element just above its orbit. 
  - **satellite utilities**
    - `.circle` to render a circle shape. Default
    - `.rounded-box` to render a rounded box shape.
    - `.box` to render a box shape.
  - **o-sector utilities**
    - `.gap-*` applied on `.orbit` or `.orbit-*` or in `<o-sector>`: to set a gap space. Default '0'
  
*/

/* .orbit-zone  aligment utilities */
.orbit-zone.at-top-left {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}
.orbit-zone.at-top {
  align-items: flex-start !important;
  justify-content: center !important;
}
.orbit-zone.at-top-right {
  align-items: flex-start !important;
  justify-content: flex-end !important;
}
.orbit-zone.at-bottom-left {
  align-items: flex-end !important;
  justify-content: flex-start !important;
}
.orbit-zone.at-bottom {
  align-items: flex-end !important;
  justify-content: center !important;
}
.orbit-zone.at-bottom-right {
  align-items: flex-end !important;
  justify-content: flex-end !important;
}
.orbit-zone.at-center-left {
  align-items: center !important;
  justify-content: flex-start !important;
}
.orbit-zone.at-center {
  align-items: center !important;
  justify-content: center !important;
}
.orbit-zone.at-center-right {
  align-items: center !important;
  justify-content: flex-end !important;
}

/* 
  Range, begin-at and angle classes utilities 
*/
$max-grade: 360;
@for $i from 0 through $max-grade {
  .range-#{$i} {
    --o-range: #{$i}deg;
  }
}
@for $i from 0 through $max-grade {
  .from-#{$i} {
    --o-from: #{$i}deg;
  }
}
@for $i from 0 through $max-grade {
  .angle-#{$i} {
    --o-angle-composite: calc(#{$i}deg - 90deg) !important; 
  }
}

/* 
  Sector, Progress and Vector utilities 
*/ 

/* 
  Sector gap 
*/ 

$max-gaps: calc($max-orbiters / 2);
@for $i from 1 through  $max-gaps {
  o-sector.gap-#{$i}, o-text.gap-#{$i} {
    --o-gap: #{$i};
  }
}

/* 
Sector, Progress and Vector size-ratio
Can be used in parent elements or in each orbiter class
*/ 

@for $i from 0 through  10  {
  $percent: calc($i * 10);
  $value: if($i == 0, 1, 1 - calc($i / 10));
  .reduce-#{$percent} {
    --o-size-ratio: #{$value}; 
  }
}

@for $i from 1 through $max-orbits {
  .grow-#{$i}x {
    --o-size-ratio: #{$i};
  }
}

/* 
  Orbit child elements could be placed at low / middle / high-orbit
*/ 
.inner-orbit {
  --o-aligment: calc(
    var(--o-radius) / var(--o-orbit-number, 1) * var(--o-size-ratio, 1)
  ) / 2;
}
.quarter-inner-orbit {
  --o-aligment: calc(
    var(--o-radius) / var(--o-orbit-number, 1) * var(--o-size-ratio, 1)
  ) / 3.75;
}
.quarter-outer-orbit {
  --o-aligment: calc(
    var(--o-radius) / var(--o-orbit-number, 1) * var(--o-size-ratio, 1)
  ) / -3.75;
}

.outer-orbit {
  --o-aligment: calc(
    var(--o-radius) / var(--o-orbit-number, 1) * var(--o-size-ratio, 1)
  ) / -2;
}

/* 
  Orbit direction
*/ 

.ccw{
  --o-direction: -1;
  --o-offset: - -90deg
}


/* 
  Orbit capsule
*/ 


.capsule.flip {
  --o-angle-composite: 180deg !important;
}

.capsule.turn-left {
  margin-top: 25%;
  --o-angle-composite: 90deg !important;
}
.capsule.turn-right  {
  margin-top: 25%;
  --o-angle-composite: 270deg !important;
}

.capsule.stable  {
  --o-gyro: calc(90deg - ( var(--o-angle) * var(--o-orbit-child-number)));
  --o-angle-composite: var(--o-gyro);
}

.satellite>.capsule.stable  {
  --o-gyro: calc(var(--o-angle) * var(--o-orbit-child-number));
}

.satellite>.capsule.turn-left {
  margin-top:unset;
}
.satellite>.capsule.turn-right  {
  margin-top:unset;
}


