// Import Sass variables from utility module
@use '../utilities/sass-variables' as *;

/*  
 ====== Radial Grid =======
 Next the structure of a radial grid,
 specifying interactions between elements such as pod, orbits, orbiters, sectors, and SVG.
 It also manages the behavior of these elements when properties change, like sizes, arc-length limits, and alignment. 
*/
/* ====== Radial Grid - Core ======== */
.core >.orbiter:only-child {
  transform: translate(-50%, -50%);
}


/* ====== Radial Grid - Orbit ======== */

/* 
 Set diameter and z-index variables for each orbit
 having into account due orbit is nestable --diameter is affected by 
 parent orbiter size.
*/
@for $i from $min-orbits through $max-orbits {
  $z-index: #{$max-orbits - $i};
  
  
   @each $orbit-size, $orbit-value in $orbit-sizes {
    
    .pod > :nth-child(#{$i} of .orbit#{$orbit-size}) {
      @if $orbit-size != null {
        
        --diameter: #{$orbit-value};
      }  @else {
        --diameter: calc(var(--radius-#{$i}) * 2);
      }
      --z-index: #{$z-index};
      
    }
  }

 
 // @each $size, $var in $sizes {
    .orbiter > :nth-child(#{$i} of .orbit) {
    //  @if $size == null {
     //   --diameter: calc(var(--m) * #{$i});
     // } @else {
        --diameter: calc(var(--size) * #{$i});
     // }
      --z-index: #{$z-index};
   // }
  }
}

/* ====== Radial Grid - Sub-orbit ======== */

/* 
 Set diameter and z-index variables for each suborbit.
*/
@for $i from $min-orbits through $max-orbits {
  $z-index: #{$max-orbits - $i};
  
  
  @each $orbit-size, $orbit-value in $orbit-sizes {
  
  .pod > :nth-child(#{$i} of .orbit#{$orbit-size}) > .orbit {
    @if $orbit-size != null {
      --diameter: #{$orbit-value};
      --x-coords: calc( #{$orbit-value} / 2);
    } @else {
      --diameter: calc(var(--radius-#{$i}) * 2);
    --x-coords: calc(var(--radius-#{$i}));
    }

    --z-index: #{$z-index};
    
  }
}

  
  @each $orbit-size, $orbit-value in $orbit-sizes {
  .pod > :nth-child(#{$i} of .orbit#{$orbit-size}) > .orbit > .sector {
    @if $orbit-size != null {
      --diameter: #{$orbit-value};
      } @else {
        --diameter: calc(var(--radius-#{$i}) * 2);
      }
    
    --current-orbit: #{$i};
    --max-orbits: #{$max-orbits};
  }
  }
 

  
 @each $orbit-size, $orbit-value in $orbit-sizes {
    
    .pod > :nth-child(#{$i} of .orbit#{$orbit-size}) > .sector{
      @if $orbit-size != null {
      --diameter: #{$orbit-value};
      } @else {
        --diameter: calc(var(--radius-#{$i}) * 2);
      }
      
    }
  }
  @each $orbit-size, $orbit-value in $orbit-sizes {
    
    @each $class in $align {
      $math: '';
  
    @if $class == '.upper' {
      $math: '+ (calc(var(--size) / 2))';
    }
    @if $class == '.lower' {
      $math: '- (calc(var(--size) / 2))';
    }

    .pod > :nth-child(#{$i} of .orbit#{$orbit-size}) > .orbiter#{$class} {
      @if $orbit-size != null {
      --x-coords:  calc( #{$orbit-value} / 2 #{$math});
      }
  }
}
}
  
    .orbiter > .orbit:nth-child(#{$i}) > .orbit {
      --diameter: calc(var(--size) * #{$i});
      --z-index: #{$z-index};
      --x-coords: calc(var(--radius-#{$i}));
      border: none;
    }

    .orbiter > .orbit:nth-child(#{$i}) > .orbit > .sector {
        --diameter: calc(var(--size) * #{$i});
        --width: calc(var(--size) / 4);
        --current-orbit: #{$i};
        --max-orbits: #{$max-orbits};
    }
 
}

/* Set different offset angles.
 This allows orbit child elements to start at different points, overriding the default 0º.
 $offsets are defined in ./base/_variables.scss.
 For example, .offset-45 implies that orbiters or sectors start at a 45º angle.
*/
@each $offset, $angle in $offsets {
    .orbit#{$offset}, .core#{$offset} {
    --offset-angle: #{$angle}; /* Set --offset-angle variable for a specific offset */
  }
}

@each $limit, $angle in $limits {
  .orbit#{$limit}, .core#{$limit} {
    --arc: #{$angle}; /* Set lengyh variable for a specific arc limit */
  }
}



/* Counter-clockwise direction
 By default, orbit child elements are arranged clockwise.
 Use this class to change this behavior.
*/
.orbit.ccw {
  --direction: -1; /* Set --direction variable to -1 for counter-clockwise direction */
}

/* ====== Radial Grid - Orbiters ======== */

/* Set size variable for each orbiter */
@each $size, $var in $sizes {
  .orbiter#{$size} {
    @if $size != null {
      --size: #{$var};
    }    
  }
}

/* Calculate and set arc-length and angle for each orbiter based on arc limits.
 Angle is calculated taking into account arc-length, number of orbit child elements and direction
 Note: using :nth-child() selector avoid to use parent classes to define number of child elements,
 but is not yet handled by Firefox, unless layout.css.has-selector.enabled flag  https://caniuse.com/css-has
*/
@for $i from $min-orbiters through $max-orbiters {
  .orbit:has(> .orbiter:nth-child(#{$i})) {
    $number: $i - 1;
    @if $i < 1  {
      $number: 1;
    }
    --angle: calc((var(--arc) / #{$number}) * var(--direction)); 
    }
}
@for $i from $min-orbiters through $max-orbiters {
    .orbit:not([class*="limit-"]):has(> .orbiter:nth-child(#{$i})) {
      $number: $i;
      @if $i < 1  {
        $number: 1;
      }
      --angle: calc((var(--arc) / #{$number}) * var(--direction)); 
      }
}

@for $i from $min-orbiters through $max-orbiters {
  .orbit[class*="limit-"]:has(> .orbiter:nth-child(#{$i})) {
    $number: $i - 1;
    @if $i < 1  {
      $number: 1;
    }
    --angle: calc((var(--arc) / #{$number}) * var(--direction)); 
    }
}

/* Set orbiter-number variable for each orbiter in each orbit */
@for $i from $min-orbiters through $max-orbiters {
  .orbiter:nth-child(#{$i}) {
    --orbiter-number: #{$i};
  }
}

/* Set x custom var for each orbiter
 This value is used to calculate its radius.
 Aligment options ares included.
*/
@for $i from $min-orbits through $max-orbits {
 
   
    @each $class in $align {
      $math: '';
   
    @if $class == '.upper' {
      $math: '+ (calc(var(--size) / 2))';
    }

    
    @if $class == '.lower' {
      $math: '- (calc(var(--size) / 2))';
    }

    
    .pod >  :nth-child(#{$i} of .orbit) > .orbiter#{$class} {
      --x-coords: calc(var(--radius-#{$i}) #{$math});
    }
 
  }
}

/* Set variables for each orbiter in each orbit based on size and alignment
 Accordng its diameter named sizes each orbiter has a radius to be elingned with its orbit.
 By deafult orbiter are aligned in the middle of it orbit, but it is possible
 to place it tangencialy upper or lower.
 Example: orbiter.upper
*/
@for $i from $min-orbits through $max-orbits {
 
    @each $class in $align {
    
    $math: '';
    @if $class == '.upper' {
      $math: '+ (calc(var(--size) / 2))';
    }

    @if $class == '.lower' {
      $math: '- (calc(var(--size) / 2))';
    }

    
    .orbiter > .orbit:nth-child(#{$i}) > .orbiter#{$class}, .orbit > .orbit:nth-child(#{$i}) > .orbiter#{$class} {
        --x-coords: calc((var(--diameter) / 2) #{$math});
    }
  }
}

/* ========= Radial Grid - Sectors ============= */

/* Set orbiter-number variable for each sector in each orbit */
@for $i from $min-orbiters through $max-orbiters {
  .sector:nth-child(#{$i}) {
    --orbiter-number: #{$i};
  }
}

/* Calculate and set angle for each orbiter and sector.
 Angle is calculated taking into account arc-length, number of orbit child elements and direction
 Note: using :nth-child() selector avoid to use parent classes to define number of child elements,
 but is not yet handled by Firefox, unless layout.css.has-selector.enabled flag  https://caniuse.com/css-has
*/
@for $i from $min-orbiters through $max-orbiters {
  .orbit:has(> .sector:nth-child(#{$i})) {
    --angle: calc((var(--arc) / #{$i}) * var(--direction)); 
  }
}


@for $i from $min-orbits through $max-orbits {
  
  .pod >  :nth-child(#{$i} of .orbit) > .sector {
    --diameter: calc(var(--radius-#{$i}) * 2);
    --current-orbit: #{$i};
    --max-orbits: #{$max-orbits};
  }

  
    .orbiter >  :nth-child(#{$i} of .orbit) > .sector {
      --diameter: calc(var(--size) * #{$i});
      --width: calc(var(--size) / 4);
      --current-orbit: #{$i};
      --max-orbits: #{$max-orbits};
    }
}

/* ========= Radial Grid - SVG ============= */

@for $i from $min-orbits through $max-orbits {
  
  .pod > .orbit:nth-child(#{$i}) > svg {
    --diameter: calc(var(--radius-#{$i}) * 2);
  }
}

/* Set variables for each orbiter in each orbit based on size and alignment
 Accordng its diameter named sizes each orbiter has a radius to be elingned with its orbit.
 By deafult orbiter are aligned in the middle of it orbit, but it is possible
 to place it tangencialy upper or lower.
 Example: orbiter.upper
*/
@for $i from $min-orbits through $max-orbits {

    
    .orbiter > .orbit:nth-child(#{$i}) > svg {
      
        --diameter: calc(var(--size) * #{$i});
     
      
    }
}
