/* ========== Shapes ========= */

/*
 All shapes are based on orbiter element.
 Some shapes can be applied to orbit element but take into account that Zumer only works with 
 radial grid, so if you have a boexed orbit its child elements still will be placed
 using radial grid.
*/

.circle {
  border-radius: 50% !important; /* Default shape */
}

.orbiter.line {
  transform-origin: 0 50%;
  height: 0;
  width: calc(var(--radius-3));
  border-radius: 0%;
  border: none;
  border-top: 1px dashed var(--dark);
}

.box {
  border-radius: 0% !important;
}

.rounded {
  border-radius: 25% !important;
}

/* TODO: add blob variants */
.blob {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% !important;
}

.transparent {
  border: none !important;
  background-color: var(--transparent) !important;
}

